<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">
        <div class="btn btn-round btn-info" ng-click="$hide()|| close()"><i class="md md-close"></i></div>
    </div>

    <div class="aside-dialog">
        <div class="aside-body bs-sidebar">
            <form name="saveuploaddatamodule" class="form-floating form-container " ng-class="done" novalidate="novalidate " ng-submit="adduploaddatamodule(this) ">
                <fieldset>
                    <legend><i class="md md-dashboard cyan darken-2 icon-color "></i> {{Mtitle}}</legend>

                    <div class="form-group filled ">
                        <div class="btn btn-info " name="file " ng-multiple="false " ngf-multiple="false " ngf-select accept=".json " ngf-pattern=".json " ng-model="file" ng-change="get_uploaddatamodule(file) " required>{{ 'Manules_Choose_File' | translate }}</div>
                        {{file.name}}
                        <label class=" red-text accent-2" ng-hide="!saveuploaddatamodule.file.$error.pattern">{{ 'Manules_please_upload_json_file' | translate }}</label>
                    </div>
                    <div class="form-group ">
                        <button type="submit " class="btn btn-lg btn-primary  " ng-disabled="saveuploaddatamodule.file.$error.pattern || !file  ">{{ 'Manules_Add' | translate }}</button>
                        <button type="reset " class="btn btn-lg btn-primary " ng-click="$hide() ">{{ 'Manules_Cancel' | translate }}</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>