<aside class="sidebar fixed">
    <div class="brand-logo">
        <div id="logo">
            <div class="sidebar-logo" style="font-size: 27px;"><b>{{ 'Dashboard_Scaniapp' | translate }}</b></div>
        </div>
    </div>
    <div class="user-logged-in">
        <div>

        </div>
        <div class="content">
            <div class="user-name">{{admin_name}}
                <div><span class="text-muted f9"></span></div>
            </div>
            <div class="user-email">{{admin_email}}</div>
            <div class="user-actions">
                <a class="m-r-5" href="#/setting">{{ 'Dashboard_Setting' | translate }}</a> <a href="" ng-click="logout()" target="_self">{{ 'Dashboard_Logout' | translate }}</a>
            </div>
        </div>
    </div>
    <ul class="menu-links" ng-cloak>
        <a menu-link href="#/" icon="md md-home" name="{{ 'Dashboard_Home' | translate }}" ng-click="close_side()">{{ 'Dashboard_Home' | translate }}</a>
        <a menu-link href="#/users" icon="md md-account-circle" name="{{ 'Dashboard_Users' | translate }}" ng-click="close_side() ">
            <span class="pull-right badge theme-primary-bg z-depth-0"></span>{{ 'Dashboard_Users' | translate }}
        </a>

        <a menu-link href="#/modules" icon="md md-view-module" name="{{ 'Dashboard_Modules' | translate }}" ng-click="close_side()">
            <span class="pull-right badge theme-primary-bg z-depth-0"></span>{{ 'Dashboard_Modules' | translate }}
        </a>
        <a menu-link href="#/setting" icon="md md-settings" name="{{ 'Dashboard_Setting' | translate }}" ng-click="close_side()">
            <span class="pull-right badge theme-primary-bg z-depth-0"></span>{{ 'Dashboard_Setting' | translate }}
        </a>
    </ul>
</aside>
<section class="cards ng-scope">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-round-sm btn-link ng-scope"> <i class="md md-arrow-back icon-size" data-title="{{ 'Dashboard_Back' | translate }}" ng-click="backModules()" bs-tooltip></i><div class="ripple-wrapper"></div></button>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <section>
                <div class="page-header">
                    <h1 id="mh1">
                        <i class="md md-view-module"></i> {{ ' community_tip_tilte' | translate }}
                        <div ng-hide="loding">
                            <div id="loading-bar-spinner">
                                <div class="spinner-icon"></div>
                            </div>
                            <div id="loading-bar">
                                <div class="bar">
                                    <div class="peg"></div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="addtip_loder">
                            <div id="loading-txt">
                                <div class="bar">
                                    <div class="peg"></div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="delete_tip_loding">
                            <div id="loading-bar-spinner">
                                <div class="spinner-icon"></div>
                            </div>
                            <div id="loading-bar">
                                <div class="bar">
                                    <div class="peg"></div>
                                </div>
                            </div>
                        </div>

                    </h1>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1" style="width:10px">
            <div class="page-header">
                <h1 id="mh1">
                    <i class="md-info"></i>
                </h1>
            </div>
        </div>
        <div class="col-md-8">
            <input class="form-control " type="text" ng-model="todoService.todo.title">
        </div>
    </div>
    <div class="row" ng:repeat="(key, item) in community_tips_data">
        <div class="col-md-10">

            <div class="card" id="tips-card">
                <!--<div class="pull-right">
                    <i class="material-icons lg" id="top-right-tip" style="font-size:20px">delete</i>
                </div>-->
                <div class="card-content">
                    <div class="card-profile-left pull-left"><img class="img img-circle" src="{{item.profile_url}}" alt="" id="profile-tip"></div>

                    <div class="card-profile-right pull-right">
                        <button type="button" class="btn btn-round-sm btn-link ng-scope"> 
                            <i style="color:#666666" class="material-icons lg" ng-click="delete_tips(item)" data-title="{{'User_Delete_item'| translate}} " bs-tooltip>delete</i>
                        <div class="ripple-wrapper"></div>
                        </button>
                    </div>
                    <p id="tip_area">{{item.tip}}
                        <div class="ripple-wrapper"></div>
                    </p>
                </div>
            </div>
            <div class="pull-left">
                <p>Name:{{item.name}}<br/>Date:{{item.date | date:'dd-M-yyyy hh:mm'}}</p>
            </div>
            <div class="pull-right">
                <p>{{item.like}}<img id="thum-up" src="assets/img/like.png"> {{item.unlike}} <img id="thumb-dowm" src="assets/img/thumb-down.png"></p>
            </div>
        </div>
    </div>

    <!--<div class="row">
        <div class="col-md-10">

            <div class="card">
                <div class="table-responsive">
                    <table class="table table-full table-full-small table-dashboard-widget-1">
                        <thead>
                        </thead>
                        <tbody>
                            <tr ng:repeat="(key, item) in technical_trainingData">
                            <tr>
                                <td ng-click="viewFolder(item)" class="col-md-2 f20 ng-binding"><i class="md md-folder indigo lighten-2 icon-color"></i></td>
                                <td ng-click="viewFolder(item)" class="col-md-4">{{ item.name }}</td>
                                <td ng-click="viewFolder(item)" class="col-md-2">{{ item.type }}</td>
                                <td ng-click="viewFolder(item)" class="col-md-2">{{ item.updated | date:'dd-MM-yyyy' }}</td>
                                <td class="col-md-2">
                                    <i class="material-icons" data-title="{{ 'Manules_Edit_folder' | translate }}" id="edittext" ng-click="editFolder(item)" bs-tooltip>edit</i>
                                    <i class="material-icons" data-title="{{ 'Manules_Delete_folder' | translate }}" ng-click="removeFolder(item)" bs-tooltip>delete</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>-->

    <div class="footer-buttons">
        <div class="btn btn-default btn-round btn-lg m-r-10 btn-footer" scroll-to="top" ng-hide="scroll<100" data-title="{{ ' Scroll_to_top_tilte' | translate }}" bs-tooltip><i class="md md-arrow-drop-up"></i></div>
        <div class="btn btn-primary btn-round btn-lg" ng-click="Add_New_Tips()" data-title="{{'New'| translate}} " bs-tooltip><i class="md md-add"></i></div>
    </div>
</section>